@font-face {
  font-family: "myFont";
  src: url("./fonts/fuegoFont.ttf");
}

@font-face {
  font-family: "chillFont";
  src: url("./fonts/static/Raleway-Regular.ttf");
}

body {
  margin: 0;
  font-family: "chillFont";
    font-weight: 200;
    font-size: larger;
    /* font-family: "myFont"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding: 25px;
  padding-top: 100px;
}

/*header settings*/
.shopHeaderTitle {
  font-family: "myFont";
  font-size: 80px;
}
/* Media query for screens smaller than 768px (common mobile breakpoint) */
@media (max-width: 767px) {
  .shopHeaderTitle {
    font-size: 50px;
  }
}

.carousel-inner>.item {
  height: 400px;
}

.links {
  font-family: "chillFont";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.HeaderSection {
  padding: 30px;
}

.ContentSection {
padding-top: 100px;
}

.ContentTitle {
  font-size: 60px;
  color: rgb(46, 5, 46)
}


/*Nav links*/

.links {
  text-decoration: none;
  color: black;
  transition: text-decoration 0.3s ease;
}

.links:hover {
  text-decoration: underline;
  /* Add underline on hover */
}
/* Ensure buttons do not interfere */
.links button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: inherit; /* Inherit color to ensure consistency */
  font: inherit; /* Inherit font styles */
}

/* Optional: Add styling to buttons for better appearance */
.links button:hover {
  text-decoration: underline; /* Add underline effect to the button */
}

/*footer content*/
/* footer content text responsiveness*/
.footerContent {
  padding-top: 80px;
}

@media (max-width: 767.98px) {
  .footerContent {
    padding-top: 6px;
  }
}


/* footer content text responsiveness*/
.footerContentText {
  padding-top: 20px;
}

@media (max-width: 767.98px) {
  .footerContentText {
    padding-top: 6px;
  }
}

.footerSection {
  padding-bottom: 30px
}

/*Cards*/

.cardTitle {
  font-size: 25px;
}

/**/
.shoes:hover {
  opacity: 75%;
  transition: 200ms;
  cursor: pointer;
}

/**/
.mb-4:hover {
  opacity: 75%;
  transition: 200ms;
  cursor: pointer;
}
